.home{
  background-image: url("images/home.png");
 height: 80vh;
 width: 100%;
 background-size: cover;
}
.home a{
  text-decoration: none;
  color: black;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.home ul li :hover{
  color: rgb(190, 139, 77);
}
.home ul li{
  display: inline-block;
  margin-left: 30px;
  padding-top: 10px;
}
.cercle img{
  width: 20vw;
  height: 25vh;
  padding: 10px;
  border: white 2px solid;
  border-radius: 50%;
  margin-left: 71%;
  margin-top: 15vh;
}
.image{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.image img{
margin: 10px;
box-shadow: 2px 12px 20px rgba(92, 82, 82, 0.61);
}
.image a :hover{
margin-top:1px ;
opacity: 70%;
}
.titre{
color: rgb(180, 93, 31);
}
p{
  font-family: Arial, Helvetica, sans-serif;
}
.dec{
 background-color: rgba(233, 182, 146, 0.5);
 border-radius: 20px;
}
a{
  text-decoration: none;
  color: black;
}